useDynLib(vuw, .registration = TRUE, .fixes = "vuw_")

import(data.table)
import(ggplot2)
importFrom(epiR, epi.2by2)
importFrom(grid, gpar)
importFrom(grid, textGrob)
importFrom(gridExtra, grid.arrange)
importFrom(lubridate, day)
importFrom(openssl, sha256)
importFrom(openssl, aes_cbc_encrypt)
importFrom(openssl, aes_cbc_decrypt)
importFrom(openxlsx, addStyle)
importFrom(openxlsx, addWorksheet)
importFrom(openxlsx, createStyle)
importFrom(openxlsx, createWorkbook)
importFrom(openxlsx, readWorkbook)
importFrom(openxlsx, saveWorkbook)
importFrom(openxlsx, setColWidths)
importFrom(openxlsx, writeData)
importFrom(openxlsx, insertPlot)
importFrom(plotly, plot_ly)
importFrom(RColorBrewer, brewer.pal)
importFrom(scales, comma)
importFrom(stringi, stri_enc_toutf32)
importFrom(stringi, stri_pad_left)
importFrom(stringi, stri_pad_right)
importFrom(stringi, stri_trans_general)
importFrom(stringr, str_pad)

#exportPattern("^[[:alpha:]]+")

export(reprow)
S3method(reprow, matrix)
S3method(reprow, data.frame)
S3method(reprow, data.table)

export(sizeof)
S3method(sizeof, default)
S3method(sizeof, data.frame)
S3method(sizeof, environment)

export(dolock)
S3method(dolock, default)
S3method(dolock, list)
export(unlock)
S3method(unlock, default)
S3method(unlock, list)

export(load_rds)

export(hprint)
export(vprint)
export(aprint)
export(ggbar)
export(ggbar_)
export(ggmix)
export(ggmix_)
export(ggline)
export(ggline_)
export(ggdensity)
export(ggdensity_)
export(ggpie)
export(ggpie_)
export(ggtable)
export(ggtable_)
export(get_legend)
export(data2treemap)

export(unilen)

export(as_logical)
export(as_integer)
export(as_double)
export(as_character)

export(rowvec)
export(colvec)

export(ones)
export(zeros)
export(numbers)
export(randoms)

export(setdimnames)
export(setrownames)
export(setcolnames)
export(setfakenames)
export(setmul)
export(ratio_by_period)
export(set_ratio_by_period)

export(reverse)
export(traverse)
export(rotate)
export(repcol)
export(upper)

export(row_min)
export(row_max)
export(row_sum)
export(row_min_by_rn)
export(row_max_by_rn)
export(row_sum_by_rn)
export(row_min_by_cn)
export(row_max_by_cn)
export(row_sum_by_cn)
export(row_min_by_dn)
export(row_max_by_dn)
export(row_sum_by_dn)

export(only_first)
export(set_only_first)
export(one_upper_first)
export(set_one_upper_first)

export(replace_vec_in_mat)
export(replace_val_in_mat)
export(replace_na_with_zero)
export(replace_na_with_empty)
export(replace_empty_with_na)

export(set_rowsum)
export(set_rowsum_)
export(set_cumsum)
export(set_cumsum_)
export(set_prop)
export(set_prop_)

export(calc_ins_age)
export(set_band)
export(set_age_band)
export(set_age_cut)
export(set_hos_band)
export(set_sur_band)
export(calc_bmi)
# export(judge_bmi)
export(split_date)
export(split_date_)
export(subset_time)
export(subset_time_)
export(merge_date_overlap)
export(merge_date_overlap_)
export(split_merge_var)
export(split_merge_var_)
export(monthly_merge_var)
export(monthly_merge_var_)
export(count_stay)
export(limit_stay)
export(summarise_decl)
export(summarise_decl_)
export(pste_code)
export(glue_code)
export(sort_code)
export(splt_code)
export(srch_code)
export(melt_code)
export(excl_code)
export(remv_code)
export(pull_code)
export(pull_code_all)
export(pull_excl_part)
export(pull_excl_term)
export(set_kcd_sub)
export(set_kcd_name)

export(add_folder)
export(get_options)
export(get_files)
export(assert_type)
export(assert_class)
export(match_class)
export(has_rows)
export(has_cols)
export(has_missing)
export(match_cols)
export(regmatch_cols)
export(factor_cols)
export(diff_cols)
export(icol)
export(rm_cols)
export(rm_cols_)
export(rm_punct)
export(rm_punct_)
export(trim_ws)
export(rm_ws)
export(equal)
export(setcolafter)
export(setcolafter_)
export(join)
export(expand.grid.df)
export(minmax_scaler)
export(nolast)
export(change_point)
export(change_interval)
export(vseq)
export(num2date)
export(add_year)
export(add_mon)
export(bmonth)
export(emonth)
export(expand_date)
export(sec_to_hms)
export(proc_time)
export(break_word)
export(quote_comma)
export(paste_comma)
export(setlowernames)
export(setuppernames)

export(get_mode)
export(get_class)
export(get_info)
export(prop_table)
export(group_binary)
export(group_binary_)
export(group_missing)
export(group_missing_)
export(group_stats)
export(group_stats_)
export(group_stats_terms)
export(group_stats_terms_)
export(get_prop)
export(get_prop_)

export(get_kcd)
export(get_claim)
export(get_risk)
export(get_rider_info)
export(risk_plot)
export(ratio_plot)
export(amt_plot)

export(random_sampling)
export(strat_sampling)
export(k_fold)
export(k_split)

export(set_amt)

export(pull_cvd_kcd)
export(check_cvd_kcd)
export(check_cvd_level)
export(overlap_matrix)
export(diff_period)
export(group_period)
export(period_to_binary_loss)
export(loss_simulation)
export(leave_positive_loss)

export(create_base_risk)
export(fill_risk_info_age)
export(join_info)
export(lapse2persi)
export(persi2lapse)
export(lapse2dist)
export(dist2lapse)
export(random_pay_num)
export(create_rp_matrix)
export(apply_expiration)
export(count_pay_num)
export(rp_simulation)
export(apply_rider_weight)
export(set_period_cum_rn_cols)
export(categorize_rider)
export(rotate_group_stats)
export(rotate_group_stats_)

export(intersect_rn)
export(intersect_rn_cols)
export(set_rn_col_order)
export(set_lr)
export(mix_lr)
export(mix_cols)
export(mix_cols_by_factor)

export(apply_rules)
export(review_rules)

export(subset_id_with_kcd)
export(subset_id_with_kcd_)
export(subset_id_with_kcd_terms)
export(id_with_kcd)
export(id_with_kcd_)
export(id_with_kcd_terms)
export(relative_risk_test)
export(kcd_in_years)
export(kcd_in_months)
export(stay_plot)

export(is_korean)
export(is_english)
export(is_japanese)
export(zen2han)
export(zen2han4dat)

export(to_a1_col)
export(to_r1c1_col)
export(mv_cell)
export(nu_cell)
export(di_cell)
export(get_rp_table)
export(write_data)
export(write_xlsx)
export(draw_image)
export(draw_xlsx)
export(save_xlsx)

export(theme_view)
export(theme_shiny)
export(theme_save)
export(scale_gender_manual)

export(get_period_inforce)
export(get_period_inforce_by_policy_ym)

export(CI333)
export(CI10)
export(CANCER)
export(GENERALCANCER)
export(SMALLCANCER)
export(PSEUDOCANCER)
export(BREASTCANCER)
export(UTERICANCER)
export(PROSTATECANCER)
export(BLADDERCANCER)
export(SKINCANCER)
export(THYROIDCANCER)
export(CIS)
export(BORDERLINETUMOR)
export(STROKE)
export(ANGINA)
export(CIRRHOSIS)
export(VALVE)
export(HIV)
export(DIABETES)
export(HYPERTENSION)
export(ACCIDENT)
export(DECLINE)
export(CARDITIS)
export(AMI)
export(IHD)
export(CEREBROVASCULARDISEASE)

export(create_library_r)
