useDynLib(vuw, .registration = TRUE, .fixes = "vuw_")

importFrom(openssl, sha256)
importFrom(openssl, aes_cbc_encrypt)
importFrom(openssl, aes_cbc_decrypt)
importFrom(data.table, data.table)
importFrom(data.table, is.data.table)
importFrom(data.table, as.data.table)
importFrom(data.table, alloc.col)
importFrom(data.table, address)
importFrom(data.table, set)
importFrom(data.table, setDT)
importFrom(data.table, setattr)
importFrom(data.table, setorder)
importFrom(data.table, setorderv)
importFrom(data.table, setcolorder)
importFrom(data.table, setnames)
importFrom(data.table, copy)
importFrom(data.table, dcast)
importFrom(data.table, uniqueN)
importFrom(lubridate, year)
importFrom(lubridate, month)
importFrom(lubridate, day)
importFrom(stringi, stri_pad_left)
importFrom(stringi, stri_enc_toutf32)
importFrom(stringi, stri_trans_general)
importFrom(stringr, str_pad)
importFrom(scales, comma)
importFrom(epiR, epi.2by2)
importFrom(openxlsx, readWorkbook)
importFrom(RColorBrewer, brewer.pal)
import(ggplot2)
importFrom(plotly, plot_ly)
importFrom(reticulate, import)
importFrom(reticulate, source_python)

#exportPattern("^[[:alpha:]]+")

export(reprow)
S3method(reprow, matrix)
S3method(reprow, data.frame)
S3method(reprow, data.table)

export(sizeof)
S3method(sizeof, default)
S3method(sizeof, data.frame)
S3method(sizeof, environment)

export(dolock)
S3method(dolock, default)
S3method(dolock, list)
export(unlock)
S3method(unlock, default)
S3method(unlock, list)

export(load_rds)

export(hprint)
export(vprint)
export(aprint)

export(unilen)

export(as_logical)
export(as_integer)
export(as_double)
export(as_character)

export(rowvec)
export(colvec)

export(ones)
export(zeros)
export(numbers)
export(randoms)

export(setdimnames)
export(setrownames)
export(setcolnames)
export(setfakenames)
export(setmul)
export(ratio_by_period)
export(set_ratio_by_period)

export(reverse)
export(traverse)
export(rotate)
export(repcol)
export(upper)

export(row_min)
export(row_max)
export(row_sum)
export(row_min_by_rn)
export(row_max_by_rn)
export(row_sum_by_rn)
export(row_min_by_cn)
export(row_max_by_cn)
export(row_sum_by_cn)
export(row_min_by_dn)
export(row_max_by_dn)
export(row_sum_by_dn)

export(only_first)
export(set_only_first)
export(one_upper_first)
export(set_one_upper_first)

export(replace_vec_in_mat)
export(replace_val_in_mat)
export(replace_na_with_zero)
export(replace_na_with_empty)
export(replace_empty_with_na)

export(calc_ins_age)
export(set_age_band)
export(set_age_cut)
export(calc_bmi)
export(judge_bmi)
export(split_date)
export(split_date_)
export(subset_time)
export(subset_time_)
export(merge_date_overlap)
export(count_stay)
export(limit_stay)
export(pste_code)
export(glue_code)
export(sort_code)
export(splt_code)
export(srch_code)
export(melt_code)
export(excl_code)
export(remv_code)
export(pull_code)
export(pull_code_all)
export(set_kcd_name)

export(get_options)
export(get_files)
export(assert_type)
export(assert_class)
export(match_class)
export(has_rows)
export(has_cols)
export(has_missing)
export(match_cols)
export(regmatch_cols)
export(factor_cols)
export(diff_cols)
export(icol)
export(rm_cols)
export(rm_cols_)
export(rm_dots)
export(rm_dots_)
export(trim_ws)
export(rm_ws)
export(equal)
export(setcolafter)
export(setcolafter_)
export(join)
export(minmax_scaler)
export(nolast)
export(change_point)
export(change_interval)
export(vseq)
export(num2date)
export(add_year)
export(add_mon)
export(bmonth)
export(emonth)
export(expand_date)
export(sec_to_hms)
export(proc_time)
export(quote_comma)
export(paste_comma)
export(setlowernames)
export(setuppernames)

export(get_mode)
export(get_class)
export(get_info)
export(prop_table)
export(group_binary)
export(group_binary_)
export(group_missing)
export(group_missing_)
export(group_stats)
export(group_stats_)
export(group_stats_terms)
export(group_stats_terms_)
export(get_prop)
export(get_prop_)

export(get_kcd)
export(get_claim)
export(get_risk)
export(risk_plot)

export(strat_sampling)
export(k_fold)
export(k_split)

export(pull_cvd_kcd)
export(check_cvd_kcd)
export(check_cvd_level)
export(overlap_matrix)
export(diff_period)
export(group_period)
export(period_to_binary_loss)
export(loss_simulation)
export(leave_positive_loss)

export(create_base_risk)
export(join_info)
export(lapse2dist)
export(dist2lapse)
export(random_pay_num)
export(create_rp_matrix)
export(apply_expiration)
export(count_pay_num)
export(rp_simulation)
export(apply_weight)

export(subset_id_with_kcd)
export(subset_id_with_kcd_)
export(subset_id_with_kcd_terms)
export(id_with_kcd)
export(id_with_kcd_)
export(id_with_kcd_terms)
export(kcd_in_years)
export(kcd_in_months)

export(is_korean)
export(is_english)
export(is_japanese)
export(set_translate)
export(clean_zen)
export(zen2han)
export(zen2han4dat)

export(to_a1_col)
export(to_r1c1_col)
export(mv_cell)
export(nu_cell)
export(di_cell)
export(get_rp_table)

export(theme_view)
export(theme_shiny)
export(theme_save)
export(scale_gender_manual)

export(get_period_inforce)
export(get_period_inforce_by_policy_ym)

export(get_packages)
export(install_packages)

export(CI333)
export(CI10)
export(CANCER)
export(GENERALCANCER)
export(SMALLCANCER)
export(PSEUDOCANCER)
export(BREASTCANCER)
export(UTERICANCER)
export(PROSTATECANCER)
export(BLADDERCANCER)
export(SKINCANCER)
export(THYROIDCANCER)
export(CIS)
export(BORDERLINETUMOR)
export(STROKE)
export(ANGINA)
export(CIRRHOSIS)
export(VALVE)
export(HIV)
export(DIABETES)
export(HYPERTENSION)
export(ACCIDENT)
export(DECLINE)
export(CARDITIS)
export(AMI)
export(IHD)
export(CEREBROVASCULARDISEASE)
